<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="path" default = "$(find publish_pointcloud)/data/south_gate2.pcd" />


  <node name="publish_pointcloud" pkg="publish_pointcloud" type="publish_pointcloud">
    <param name="path" type="string" value="$(arg path)"/>
    <param name="frame_id" type="string" value="map"/>
    <param name="topic" type="string" value="/pointcloud/output"/>
    <param name="hz" type="int" value="2"/>
    <param name="rotate_xyz" value="false"/>
  </node>

</launch>