<?xml version="1.0"?>
<launch>
    <arg name="box_size" default = "3" />

    <node pkg="gps_mapping" type="point_marker.py" name="gps_mapping_node" output="screen">
        <param name="file_dir" value="$(find gps_mapping)/src" />
        <param name="box_size" type="double" value="$(arg box_size)"/>
    </node>

    <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find publish_pointcloud)/rviz/OctomapShow.rviz"/>
</launch>
